/*-------------- branches -----------------*/
.branches-wrap{
	margin-top: 125px;
	margin-bottom: 100px;

	h1, .h1{margin-bottom: 4rem;}

	&__content{
		position: relative;
		padding: 94px 76px 10px;
	}

	&__content::before{
		content: '';
		display: inline-block;
		width: 2000px;
		height: calc(100% - 130px);
		background: $color-light-blue;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__content::after{
		content: '';
		display: inline-block;
		width: 110px;
		height: 158px;
		background: url(../img/icon-branche.png) center no-repeat;
		background-size: contain;
		position: absolute;
		bottom: 0;
		left: 85px;
	}

	h1, .h1, h2, .h2{position: relative;}
}

.branches{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__item{
		display: inline-block;
		width: calc(50% - 80px);
		max-width: 480px;
		padding-top: 25.5%;
		margin: 20px 40px;
		overflow: hidden;
		position: relative;
	}

	&__img{
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.2s ease 0s;
	}

	&__item:hover &__img{transform: translate(-50%, -50%) scale(1.1);}
}

@media (max-width: 1469px) {
	.branches{
		&__item{
			width: calc(50% - 40px);
			max-width: 400px;
			padding-top: 26%;
			margin: 20px;
		}
	}

	.branches-wrap{
		&__content::after{left: 0;}
	}
}

@media (max-width: 991px) {
	.branches-wrap{
		margin-top: 80px;
		margin-bottom: 80px;

		&__content{padding-top: 60px;}
	}
}

@media (max-width: 767px) {
	.branches-wrap{
		margin-top: 58px;
		margin-bottom: 40px;

		&__content{padding: 0;}
		&__content::before{display: none;}
		h1, .h1, h2, .h2{margin-bottom: 1.5rem;}

		&__content::after{
			width: 50px;
			height: 72px;
		}
	}

	.branches{
		display: block;

		&__item{
			width: 100%;
			margin: 15px 0;
			padding-top: 65%;
		}
	}
}